@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Wedding Invitation Application</p>
            <p>Fatih Emirhan Güngör</p>

            <a class="btn btn-primary" asp-action="ResponseForm">Click for Response Form</a>
        </div>
    </body>
</html>
